{{ header }}
<div class="order order-cart">
	<div class="order__nav">
		<ul class="bread-crumbs">
			{% for breadcrumb in breadcrumbs %}
			<li class="bread-crumbs__item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
		</ul>

		<div class="counter">
			<div class="counter__circle">1</div>
			<div class="counter__circle">2</div>
			<div class="counter__circle">3</div>
		</div>
	</div>
	<div class="order__inner">
		<div class="cart-section">
			<section class="cart-big">
				<div class="title"><h2 class="title__text">{{ heading_title }}<span class="title__tr">ショッピングカート</span></h2></div>
				<ul class="cart-big__list">
					{% for product in products %}
					<div class="cart-big__item">
						<div class="cart-big__left">
							<button onclick="cart.remove('{{ product.cart_id }}');" class="cart-big__remove"><span class="cart-big__remove-plus">+</span></button>
							<div class="cart-big__img-container">
								<img class="cart-big__img" src="{{ product.thumb }}" alt="">
							</div>
							<div class="cart-big__info">
								<p class="cart-big__name">{{ product.name }}</p>
								{% if product.description %}<p class="cart-big__portion">{{ product.description }}</p>{% endif %}
							</div>
						</div>
						<div class="cart-big__right">
							<div class="cart-big__count-box">
								<button onclick="cart.update('{{ product.cart_id }}', parseInt(this.nextElementSibling.textContent) - 1);" class="cart-big__minus"><span class="cart-big__minus-span">-</span></button>
								<p class="cart-big__count">{{ product.quantity }}</p>
								<button onclick="cart.update('{{ product.cart_id }}', parseInt(this.previousElementSibling.textContent) + 1);" class="cart-big__plus"><span class="cart-big__plus-span">+</span></button>
							</div>
							<p class="cart-big__price">{{ product.total }}</p>
						</div>
					</div>
					{% endfor %}
				</ul>
			</section>
			{% if recommended_products %}
			<section class="products-slider">
				<div class="title"><h2 class="title__text">{{ text_recommended }}<span class="title__tr">お勧め</span></h2></div>
				<div class="product-slider__wrapper">
				{% for product in recommended_products %}
					<div class="products-slider__item" data-id="{{ product.product_id }}">
						<div class="products__item {% if product.special %}products--discounted discounted{% endif %} {{ product.tags }}">
							<div class="products__upper">
								<a class="products__wrapper" href="{{ product.href }}">
									<div class="products__bg">
										<div class="products__discount"></div>
										<img src="{{ product.thumb }}" alt="" class="products__img">
									</div>
								</a>
								<div class="products__name"><a href="{{ product.href }}">{{ product.name }}</a></div>
							</div>
							<div class="products__lower">
								<div class="products__price">
									<div class="products__price-box">
										<span class="products__current">{{ product.price }}</span>
										{% if product.special %}
										<span class="products__discounted">{{ product.special }}</span>
										{% endif %}
									</div>
									{% if product.weight > 0 %}
									<div class="products__mass">{{ product.weight }} г</div>
									{% endif %}
								</div>
								<div class="bamboo bamboo--no-signs products__bamboo">
									<div class="bamboo__cell products__right-cell bamboo__cell--black">
										<button onclick="cart.add(this, '{{ product.product_id }}', this.closest('.bamboo--no-signs').querySelector('.products__count').textContent)" class="products__status bamboo__button">
											<div class="slide-button slide-button--js">
												<div class="slide-button__copy">добавлено</div>
												<div class="slide-button__origin"><span class="products__hide">добавить</span> в корзину</div>
											</div>
										</button>
									</div>

									<div class="bamboo__cell products__left-cell bamboo__cell--black bamboo__cell--clear products--mob">
										<button class="products__minus"></button>
									</div>

									<div class="bamboo__cell products__left-cell bamboo__cell--black bamboo__cell--clear">
										<div class="products__count-box">
											<p class="products__count">1</p>
										</div>
									</div>

									<div class="bamboo__cell products__left-cell bamboo__cell--black bamboo__cell--clear products--mob">
										<button class="products__plus"></button>
									</div>

									<div class="bamboo__cell bamboo__cell--black products__buttons-bamboo bamboo__cell--clear products--desc">
										<div class="products__buttons">
											<button class="products__plus"></button>
											<button class="products__minus"></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</section>
			{% endif %}
			{% if dopants %}
			<section class="products-slider">
				<div class="title"><h2 class="title__text">{{ text_dopant }}<span class="title__tr">サプリメント</span></h2></div>
				<p class="products-slider__desc">{{ text_dopant_title }}</p>
				<div class="product-slider__wrapper">
				{% for product in dopants %}
					<div class="products-slider__item" data-id="{{ product.product_id }}">
						<div class="products__item {% if product.special %}products--discounted discounted{% endif %} {{ product.tags }}">
							<div class="products__upper">
								<a class="products__wrapper" href="{{ product.href }}">
									<div class="products__bg">
										<div class="products__discount"></div>
										<img src="{{ product.thumb }}" alt="" class="products__img">
									</div>
								</a>
								<div class="products__name"><a href="{{ product.href }}">{{ product.name }}</a></div>
							</div>
							<div class="products__lower">
								<div class="products__price">
									<div class="products__price-box">
										<span class="products__current">{{ product.price }}</span>
										{% if product.special %}
										<span class="products__discounted">{{ product.special }}</span>
										{% endif %}
									</div>
									{% if product.weight > 0 %}
									<div class="products__mass">{{ product.weight }} г</div>
									{% endif %}
								</div>
								<div class="bamboo bamboo--no-signs products__bamboo">
									<div class="bamboo__cell products__right-cell bamboo__cell--black">
										<button onclick="cart.add(this, '{{ product.product_id }}', this.closest('.bamboo--no-signs').querySelector('.products__count').textContent)" class="products__status bamboo__button">
											<div class="slide-button slide-button--js">
												<div class="slide-button__copy">добавлено</div>
												<div class="slide-button__origin"><span class="products__hide">добавить</span> в корзину</div>
											</div>
										</button>
									</div>

									<div class="bamboo__cell products__left-cell bamboo__cell--black bamboo__cell--clear products--mob">
										<button class="products__minus"></button>
									</div>

									<div class="bamboo__cell products__left-cell bamboo__cell--black bamboo__cell--clear">
										<div class="products__count-box">
											<p class="products__count">1</p>
										</div>
									</div>

									<div class="bamboo__cell products__left-cell bamboo__cell--black bamboo__cell--clear products--mob">
										<button class="products__plus"></button>
									</div>

									<div class="bamboo__cell bamboo__cell--black products__buttons-bamboo bamboo__cell--clear products--desc">
										<div class="products__buttons">
											<button class="products__plus"></button>
											<button class="products__minus"></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</section>
			{% endif %}
			<section class="promo">
				<form class="bamboo promo__bamboo" onsubmit="applyCoupon(this.querySelector('input[name=coupon]').value); return false;">
					<div class="bamboo__cell promo__cell">
						<svg class="promo__sym promo__sym--1"><use href="#cart-symbol-1"></use></svg>
						<svg class="promo__sym promo__sym--2"><use href="#cart-symbol-2"></use></svg>
						<input name="coupon" class="promo__input" type="text" placeholder="промокод">
						<div class="bamboo promo__bamboo-button">
							<div class="bamboo__cell promo__cell-button">
								<button class="promo__button">применить</button>
							</div>
						</div>
					</div>
				</form>
			</section>
			<section class="sum">
				<div class="delivery__container">
					<div class="delivery__box">
						<svg class="delivery__fish delivery__fish--1">
							<use href="#fish-symbol"></use>
						</svg>
						<svg class="delivery__fish delivery__fish--2">
							<use href="#fish-symbol"></use>
						</svg>

						<div class="row no-gutters">
							<div class="col-tablet-12 delivery__grid">
								<div class="delivery__item delivery__item--syms sum__inner">
									<p class="sum__text">сумма заказа:</p>
									<p class="sum__main"><span>{{ total }}</span></p>
									<div class="bamboo bamboo--no-signs">
										<div class="bamboo__cell bamboo__cell--black">
											<a class="slide-button" href="{{ checkout }}">
												<div class="slide-button__copy">оформить заказ</div>
												<div class="slide-button__origin">оформить заказ</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
{{ footer }}
