                    <section class="footer">
                        <div class="footer__inner">

                            <div class="footer__decor-item footer__roll"></div>
                            <div class="footer__decor-item footer__fish"></div>
                            <div class="footer__decor-item footer__samuray"></div>

                            <div class="bamboo footer__bamboo">
                                <div class="footer__bamboo--left">
                                {% if socials.facebook %}
                                    <div class="bamboo__cell">
                                        <a aria-label="подписаться на фейсбук" rel="noopener nofollow" target="_blank" class="subscribe" href="{{ socials.facebook }}">
                                            <svg width="8px" height="16px" viewBox="0 0 8 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g class="subscribe-ink" stroke="none" stroke-width="1" fill="#472821" fill-rule="evenodd">
                                                    <g transform="translate(-329.000000, -4890.000000)" fill-rule="nonzero">
                                                        <g transform="translate(-39.000000, 4807.000000)">
                                                            <path d="M370.521479,98.8749955 L370.521479,92.1660272 L368.265625,92.1660272 L368.265625,89.5000179 L370.521479,89.5000179 L370.521479,87.3906479 C370.521479,86.2773693 370.833978,85.4131136 371.458977,84.7978807 C372.083975,84.1826477 372.914052,83.8750313 373.949205,83.8750313 C374.789047,83.8750313 375.472639,83.9140936 375.999982,83.9922185 L375.999982,86.3652597 L374.593735,86.3652597 C374.066392,86.3652597 373.705065,86.482447 373.509753,86.7168214 C373.353504,86.9121336 373.275379,87.2246325 373.275379,87.6543192 L373.275379,89.5000179 L375.765607,89.5000179 L375.414045,92.1660272 L373.275379,92.1660272 L373.275379,98.8749955 L370.521479,98.8749955 Z"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if socials.telegram %}
                                    <div class="bamboo__cell">
                                        <a aria-label="подписаться на телеграм" rel="noopener nofollow" target="_blank" class="subscribe" href="{{ socials.telegram }}">
                                            <svg width="14px" height="12px" viewBox="0 0 14 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g class="subscribe-ink" stroke="none" stroke-width="1" fill="#472821" fill-rule="evenodd">
                                                    <g transform="translate(-386.000000, -4892.000000)" fill-rule="nonzero">
                                                        <g id="footer" transform="translate(-39.000000, 4807.000000)">
                                                            <path d="M438.970672,86.775415 L436.978489,96.091799 C436.900364,96.4238293 436.768529,96.6337899 436.582982,96.7216804 C436.397436,96.8095708 436.167944,96.775391 435.894507,96.6191415 L432.876936,94.3925843 L431.412096,95.798831 C431.31444,95.8964869 431.236315,95.9648464 431.177722,96.0039086 C431.080066,96.0625022 430.953113,96.091799 430.796863,96.091799 L431.031238,93.0156345 L436.626927,87.9472872 C436.705052,87.8886936 436.729466,87.8349829 436.70017,87.7861548 C436.670873,87.7373266 436.612279,87.7177957 436.524389,87.7275612 C436.436498,87.7373266 436.343725,87.7715064 436.246069,87.8301 L429.332023,92.195324 L426.343749,91.2578262 C426.011719,91.1601703 425.855469,91.0136863 425.875,90.8183741 C425.894531,90.6230619 426.099609,90.4472811 426.490233,90.2910316 L438.121065,85.8086204 C438.414033,85.7109646 438.648407,85.7451439 438.824188,85.9111593 C438.999969,86.0771746 439.048797,86.3652597 438.970672,86.775415 Z"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if socials.viber %}
                                    <div class="bamboo__cell">
                                        <a aria-label="подписаться на вайбер" rel="noopener nofollow" target="_blank" class="subscribe" href="{{ socials.viber }}">
                                            <svg width="18px" height="19px" viewBox="0 0 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g class="subscribe-ink" stroke="none" stroke-width="1" fill="#472821" fill-rule="evenodd">
                                                    <g transform="translate(-446.000000, -4890.000000)" fill-rule="nonzero">
                                                        <g transform="translate(-39.000000, 4807.000000)">
                                                            <path d="M500.609338,85.0078459 C501.382773,85.6875316 501.933554,86.730498 502.261678,88.1367447 C502.589802,89.6601783 502.624958,91.5000181 502.367146,93.6562627 C502.156209,95.3671963 501.51168,96.6679745 500.433557,97.5585972 C499.847621,98.0273459 499.085904,98.3789076 498.148406,98.6132822 L497.937469,98.6484383 C497.585907,98.7656254 497.023409,98.8710939 496.249973,98.9648438 C495.031226,99.1289061 493.812479,99.1640623 492.593732,99.0703123 C492.101546,99.6093734 491.749984,99.9960912 491.539047,100.230466 L491.257798,100.546871 C490.999986,100.828121 490.812486,101.01562 490.695299,101.10937 C490.484362,101.249995 490.261706,101.285151 490.027332,101.214838 C489.886707,101.167964 489.787098,101.080073 489.728504,100.951167 C489.669911,100.822261 489.628895,100.687496 489.605458,100.546871 L489.605458,98.5078137 C488.316398,98.156252 487.320307,97.4765663 486.617184,96.468756 C486.10156,95.6718828 485.761717,94.664073 485.597655,93.4453257 C485.480468,92.7422024 485.445312,91.8047045 485.492186,90.6328324 C485.515624,89.3906481 485.656249,88.3359631 485.91406,87.4687775 C486.19531,86.5078425 486.640621,85.7226877 487.249995,85.1133144 C487.789056,84.621128 488.492179,84.2226917 489.359365,83.9180047 C490.03905,83.6836301 490.812486,83.5078493 491.679672,83.3906622 C492.289045,83.2969123 492.910137,83.2500376 493.542948,83.2500376 L494.316384,83.2500376 C496.050755,83.2734752 497.550751,83.5195683 498.816373,83.988317 C499.589809,84.293004 500.187464,84.6328466 500.609338,85.0078459 Z M501.101524,93.3398572 C501.335899,91.5117366 501.312461,89.9414277 501.031212,88.628931 C500.7734,87.3867466 500.31637,86.4844048 499.660121,85.9219062 C499.331997,85.6172192 498.816373,85.347689 498.11325,85.1133144 C497.01169,84.7383151 495.722631,84.5390972 494.246072,84.5156595 L493.578105,84.5156595 C493.039044,84.5156595 492.511701,84.5508157 491.996077,84.621128 C491.269516,84.714878 490.613268,84.8555027 490.027332,85.043002 C489.300771,85.3008137 488.714835,85.6406569 488.269523,86.0625308 C487.7539,86.5547172 487.367182,87.2109658 487.10937,88.0312762 C486.898433,88.7578371 486.781246,89.6367413 486.757808,90.6679886 L486.757808,90.8789256 C486.734371,91.8867359 486.757808,92.6718901 486.828121,93.2343887 C486.968745,94.2187614 487.249995,95.0390718 487.671869,95.6953204 C488.234367,96.4921937 489.042959,97.0429732 490.097644,97.3476602 L490.062488,100.37109 C490.062488,100.535153 490.103504,100.634762 490.185535,100.669918 C490.267565,100.705074 490.367175,100.664058 490.484362,100.546871 C490.718737,100.312497 491.187485,99.7851542 491.890609,98.9648438 L492.874981,97.7695342 C493.906229,97.8398465 494.949195,97.8046903 496.00388,97.6640657 C496.683566,97.5703157 497.175752,97.4765663 497.480439,97.3828164 L497.691376,97.3476602 C498.441374,97.1601608 499.050748,96.8789115 499.519497,96.5039122 C500.386682,95.8007889 500.914025,94.7461039 501.101524,93.3398572 Z M496.214817,90.4922078 C496.214817,90.6562701 496.138645,90.7383009 495.986302,90.7383009 C495.833959,90.7383009 495.757787,90.6679886 495.757787,90.527364 C495.710912,89.7773659 495.324194,89.378929 494.597633,89.3320543 C494.457009,89.3320543 494.392556,89.2558824 494.404274,89.1035392 C494.415993,88.951196 494.492165,88.8750241 494.63279,88.8750241 C495.6406,88.9218988 496.167942,89.4609604 496.214817,90.4922078 Z M496.91794,90.8789256 C496.941378,90.1289276 496.718722,89.4961166 496.249973,88.9804926 C495.781224,88.4648687 495.113257,88.1719008 494.246072,88.1015885 C494.105447,88.1015885 494.040994,88.0254166 494.052713,87.8730734 C494.064431,87.7207302 494.140603,87.6445583 494.281228,87.6445583 C495.265601,87.7148707 496.033177,88.0547138 496.583957,88.6640871 C497.134737,89.2734605 497.398408,90.0234591 497.37497,90.9140818 C497.37497,91.0547064 497.298799,91.1250188 497.146455,91.1250188 C496.994112,91.1250188 496.91794,91.0429879 496.91794,90.8789256 Z M498.57028,91.3711119 C498.57028,91.5117366 498.494108,91.5820489 498.341765,91.5820489 C498.189422,91.5820489 498.11325,91.5117366 498.11325,91.3711119 C498.11325,89.9883029 497.691376,88.8867427 496.847628,88.0664323 C496.074192,87.3164343 495.08982,86.941435 493.89451,86.941435 C493.730448,86.941435 493.648417,86.8652631 493.648417,86.7129199 C493.648417,86.5605767 493.730448,86.4844048 493.89451,86.4844048 C495.230444,86.4844048 496.332004,86.9179974 497.19919,87.785183 C498.11325,88.6758057 498.57028,89.8711153 498.57028,91.3711119 Z M498.183562,94.8164162 C497.949188,95.2148526 497.691376,95.5195395 497.410127,95.7304765 C497.035127,96.0117259 496.683566,96.0937568 496.355442,95.9765697 C495.957005,95.8593827 495.406225,95.6132895 494.703102,95.2382902 C493.929666,94.8164162 493.273418,94.3945422 492.734357,93.9726682 C492.195296,93.5507942 491.703109,93.0586079 491.257798,92.4961093 C490.882798,92.0039229 490.531237,91.4707209 490.203113,90.8965037 C489.874989,90.3222865 489.628895,89.8125221 489.464833,89.3672105 L489.253896,88.9101803 C489.160146,88.5820563 489.242178,88.2304946 489.499989,87.8554953 C489.734364,87.574246 490.050769,87.3164343 490.449206,87.0820597 C490.77733,86.9179974 491.058579,86.9648726 491.292954,87.2226843 L491.925765,87.99612 C492.089827,88.2304946 492.265608,88.5117439 492.453107,88.839868 C492.546857,89.0273673 492.576154,89.2090077 492.540998,89.3847885 C492.505841,89.5605694 492.42967,89.6953345 492.312483,89.7890845 L491.890609,90.10549 C491.796859,90.1758023 491.738265,90.2812708 491.714828,90.4218955 L491.714828,90.5976763 L491.855452,90.9843941 C491.972639,91.2890811 492.124983,91.5820489 492.312483,91.8632983 C492.570294,92.2617346 492.874981,92.5898592 493.226543,92.8476709 C493.648417,93.1992326 494.128885,93.4453257 494.667946,93.5859504 L494.843727,93.5507942 C494.984351,93.5273566 495.08982,93.4687634 495.160132,93.3750134 L495.511694,92.9531394 C495.605444,92.8359524 495.740209,92.7597805 495.91599,92.7246243 C496.09177,92.6894682 496.261692,92.7304839 496.425754,92.8476709 C497.082003,93.1992326 497.621064,93.5742319 498.042938,93.9726682 C498.300749,94.2070429 498.347625,94.4882922 498.183562,94.8164162 Z" id="vb"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if socials.instagram %}
                                    <div class="bamboo__cell">
                                        <a aria-label="подписаться на инстаграм" rel="noopener nofollow" target="_blank" class="subscribe" href="{{ socials.instagram }}">
                                            <svg width="16px" height="17px" viewBox="0 0 16 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g class="subscribe-ink" stroke="none" stroke-width="1" fill="#472821" fill-rule="evenodd">
                                                    <g transform="translate(-510.000000, -4891.000000)" fill-rule="nonzero">
                                                        <g transform="translate(-39.000000, 4807.000000)">
                                                            <path d="M557.124981,88.207057 C557.851542,88.207057 558.525368,88.3886974 559.146461,88.7519776 C559.767553,89.1152578 560.25974,89.6074441 560.62302,90.2285365 C560.9863,90.849629 561.16794,91.5234551 561.16794,92.2500161 C561.16794,92.976577 560.9863,93.6504032 560.62302,94.2714956 C560.25974,94.8925881 559.767553,95.3847744 559.146461,95.7480546 C558.525368,96.1113348 557.851542,96.2929752 557.124981,96.2929752 C556.39842,96.2929752 555.724594,96.1113348 555.103502,95.7480546 C554.482409,95.3847744 553.990223,94.8925881 553.626943,94.2714956 C553.263662,93.6504032 553.082022,92.976577 553.082022,92.2500161 C553.082022,91.5234551 553.263662,90.849629 553.626943,90.2285365 C553.990223,89.6074441 554.482409,89.1152578 555.103502,88.7519776 C555.724594,88.3886974 556.39842,88.207057 557.124981,88.207057 Z M557.124981,94.8867286 C557.851542,94.8867286 558.472634,94.6289169 558.988258,94.1132929 C559.503882,93.597669 559.761694,92.976577 559.761694,92.2500161 C559.761694,91.5234551 559.503882,90.9023632 558.988258,90.3867393 C558.472634,89.8711153 557.851542,89.6133036 557.124981,89.6133036 C556.39842,89.6133036 555.777328,89.8711153 555.261704,90.3867393 C554.74608,90.9023632 554.488269,91.5234551 554.488269,92.2500161 C554.488269,92.976577 554.74608,93.597669 555.261704,94.1132929 C555.777328,94.6289169 556.39842,94.8867286 557.124981,94.8867286 Z M562.292938,88.0312762 C562.2695,88.2890879 562.169891,88.5117439 561.99411,88.6992433 C561.818329,88.8867427 561.601533,88.9804926 561.343721,88.9804926 C561.085909,88.9804926 560.863253,88.8867427 560.675754,88.6992433 C560.488255,88.5117439 560.394505,88.2890879 560.394505,88.0312762 C560.394505,87.7734644 560.488255,87.5508084 560.675754,87.363309 C560.863253,87.1758096 561.085909,87.0820597 561.343721,87.0820597 C561.601533,87.0820597 561.824189,87.1758096 562.011688,87.363309 C562.199188,87.5508084 562.292938,87.7734644 562.292938,88.0312762 Z M564.964806,88.9804926 C564.988244,89.6367413 564.999962,90.7265824 564.999962,92.2500161 C564.999962,93.7734498 564.982384,94.8691505 564.947228,95.5371176 C564.912072,96.2050848 564.812463,96.7851615 564.648401,97.2773479 C564.437464,97.8632841 564.115199,98.3730485 563.681606,98.8066411 C563.248014,99.2402336 562.738249,99.5624987 562.152313,99.7734357 C561.660127,99.9374979 561.08005,100.037107 560.412083,100.072263 C559.744116,100.107419 558.648415,100.124997 557.124981,100.124997 C555.601548,100.124997 554.505847,100.107419 553.83788,100.072263 C553.169913,100.037107 552.589836,99.9257789 552.097649,99.7382795 C551.511713,99.5507801 551.001949,99.2402336 550.568356,98.8066411 C550.134764,98.3730485 549.812499,97.8632841 549.601562,97.2773479 C549.437499,96.7851615 549.33789,96.2050848 549.302734,95.5371176 C549.267578,94.8691505 549.25,93.7734498 549.25,92.2500161 C549.25,90.7265824 549.267578,89.6308817 549.302734,88.9629146 C549.33789,88.2949474 549.437499,87.7148707 549.601562,87.2226843 C549.812499,86.636748 550.134764,86.1269836 550.568356,85.6933911 C551.001949,85.2597986 551.511713,84.9375335 552.097649,84.7265965 C552.589836,84.5625342 553.169913,84.4629253 553.83788,84.4277691 C554.505847,84.392613 555.601548,84.3750349 557.124981,84.3750349 C558.648415,84.3750349 559.744116,84.392613 560.412083,84.4277691 C561.08005,84.4629253 561.660127,84.5625342 562.152313,84.7265965 C562.738249,84.9375335 563.248014,85.2597986 563.681606,85.6933911 C564.115199,86.1269836 564.437464,86.636748 564.648401,87.2226843 C564.812463,87.7148707 564.917932,88.3008069 564.964806,88.9804926 Z M563.27731,96.89063 C563.417935,96.4921937 563.511685,95.8593827 563.55856,94.9921971 C563.581997,94.4765731 563.593716,93.7500127 563.593716,92.8125148 L563.593716,91.6875174 C563.593716,90.7265824 563.581997,90.0000215 563.55856,89.5078351 C563.511685,88.6172124 563.417935,87.9844014 563.27731,87.6094022 C562.996061,86.8828412 562.492156,86.3789363 561.765595,86.097687 C561.390596,85.9570623 560.757785,85.8633124 559.867162,85.8164377 C559.351538,85.7930001 558.624978,85.7812815 557.68748,85.7812815 L556.562483,85.7812815 C555.624985,85.7812815 554.898424,85.7930001 554.3828,85.8164377 C553.515615,85.8633124 552.882804,85.9570623 552.484367,86.097687 C551.757806,86.3789363 551.253901,86.8828412 550.972652,87.6094022 C550.832027,87.9844014 550.738278,88.6172124 550.691403,89.5078351 C550.667965,90.0234591 550.656247,90.7500195 550.656247,91.6875174 L550.656247,92.8125148 C550.656247,93.7500127 550.667965,94.4765731 550.691403,94.9921971 C550.738278,95.8593827 550.832027,96.4921937 550.972652,96.89063 C551.277339,97.617191 551.781244,98.1210958 552.484367,98.4023452 C552.882804,98.5429698 553.515615,98.6367198 554.3828,98.6835945 C554.898424,98.7070321 555.624985,98.7187507 556.562483,98.7187507 L557.68748,98.7187507 C558.648415,98.7187507 559.374976,98.7070321 559.867162,98.6835945 C560.757785,98.6367198 561.390596,98.5429698 561.765595,98.4023452 C562.492156,98.0976582 562.996061,97.5937534 563.27731,96.89063 Z" id=""></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                {% endif %}
                                </div>
                                <div class="footer__bamboo--right">
                                    <div class="bamboo__cell">
                                        <a class="footer__link" href="{{ comments }}">
                                            <div class="slide-button slide-button--green">
                                                <div class="slide-button__copy">отзывы</div>
                                                <div class="slide-button__origin">отзывы</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bamboo__cell">
                                        <a class="footer__link" href="{{ guide }}">
                                            <div class="slide-button slide-button--green">
                                                <div class="slide-button__copy">оплата и доставка</div>
                                                <div class="slide-button__origin">оплата и доставка</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="footer__timing">
                                <p class="footer__timing-text">Режим работы: </p>
                                <p class="footer__time">{{ open }}</p>
                            </div>

                            <div class="footer__contacts">
                            {% for telephone in telephones %}
                                <a class="footer__contacts-tel" href="tel:+{{ telephone.link }}">{{ telephone.title }}</a>
                            {% endfor %}
                                <button class="footer__contacts-sub">Заказать обратный звонок</button>
                            </div>
                        </div>
                    </section>
                    <div class="pop pop--call">
                        <div class="pop__inner">
                            <div class="pop__cross">
                                <button class="pop__cross-in"></button>
                            </div>
                            <div class="pop__sym"></div>
                            <p class="pop__title">обратный звонок</p>
                            <p class="pop__text">Оставьте Ваши контакты и мы свяжемся с Вами в ближайшее время</p>
                            <form novalidate onsubmit="send(this, '{{ ajax_send_url }}'); return false;" class="form">
                                <svg class="form__fish">
                                    <use href="#fish-symbol"></use>
                                </svg>
                                <input name="name" required class="form__input" placeholder="Ваше имя">
                                <input name="telephone" required minlength="11" type="tel" class="form__input masked-tel" placeholder="Номер телефона">
                                <textarea name="comment" required class="form__input form__input--textarea form--no-mar form__input--call-area" placeholder="Комментарий"></textarea>
                                <div class="bamboo bamboo--no-signs">
                                    <div class="bamboo__cell bamboo__cell--black">
                                        <button class="slide-button">
                                            <div class="slide-button__copy">отправить</div>
                                            <div class="slide-button__origin">отправить</div>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="pop pop--success">
                        <div class="pop__inner">
                            <div class="pop__cross">
                                <button class="pop__cross-in"></button>
                            </div>
                            <p class="pop__title"></p>
                            <p class="pop__text"></p>
                            <div class="bamboo bamboo--no-signs">
                                <div class="bamboo__cell bamboo__cell--black">
                                    <button class="slide-button pop--close-el">
                                        <div class="slide-button__copy">к отзывам</div>
                                        <div class="slide-button__origin">к отзывам</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <svg class="copyright__cat surprise-cat"><use href="#cat"></use></svg>
            <div class="copyright__inner">
                <p class="copyright__text">Суши на диване © 2019</p>
            </div>
        </div>
    </div>
    <script src="{{ theme_url }}/js/main.bundle.js"></script>
    <script>

		
		function send(elem, url) {
			var data = $(elem).serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: 'json',
                beforeSend: function() {
                    $('p.error').remove();
                },
                success: function(json) {
                    if(Object.entries(json.error).length > 0)
                        for (const [key, value] of Object.entries(json.error)) {
                            $('[name="' + key + '"]').after('<p class="error"">' + value + '</p>');
                        }
                    else if(json.success) {
                        $(elem)[0].reset();
                        document.querySelector('.pop.pop--call').classList.remove("active");
                        openSuccess('Спасибо', json.success);
                    }
                    if(json.redirect) {
                        window.setTimeout(function(){
                            location = json.redirect;
                        }, 2000);
                    }
                }
            });
        }
		
		function writeReview(elem, url) {
			var data = new FormData();
			data.append('photo', elem.querySelector('input[name=photo]').files[0]);
			data.append('author', elem.querySelector('input[name=author]').value);
			data.append('text', elem.querySelector('textarea[name=text]').value);
			data.append('card', elem.querySelector('input[name=card]').value);
            $.ajax({
                type: "POST",
                url: url,
                data: data,
				contentType: false,
				processData: false,
                dataType: 'json',
                beforeSend: function() {
                    $('p.error').remove();
                },
                success: function(json) {
                    if(Object.entries(json.error).length > 0)
                        for (const [key, value] of Object.entries(json.error)) {
                            $('[name="' + key + '"]').after('<p class="error" style="color: red">' + value + '</p>');
                        }
                    else if(json.success) {
                        $(elem)[0].reset();
                        document.querySelector('.pop.pop--comments').classList.remove("active");
                        openSuccess('Спасибо', json.success);
                    }
                }
            });
        }

        function openSuccess(title, text) {
            var popup = document.querySelector('.pop.pop--success');
            popup.querySelector('.pop__title').textContent = title;
            popup.querySelector('.pop__text').textContent = text;
            popup.classList.add("active");
        }

        function searchProducts(elem, e) {
            e.preventDefault();
            var value = elem.querySelector("input[name=\'search\']").value;
            value = value.replace(/  +/g, ' ').replace(/ +$/g, '');
            location = '{{ search_action }}' + encodeURIComponent(value);
        }
		
		function applyCoupon( coupon ) {
			$.ajax({
				url: 'index.php?route=extension/total/coupon/coupon',
				type: 'post',
				data: 'coupon=' + coupon,
				dataType: 'json',
				success: function(json) {
					$('.alert-dismissible').remove();

					if (json['error']) {
						alert(json['error']);
					}

					if (json['redirect']) {
						location = json['redirect'];
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
		
		function updateCart() {
			$('.cart__button-count').load('/index.php?route=common/cart/info .cart__button-count span');
			$('#quick-cart').load('/index.php?route=common/cart/info .cart__box');
			$('.cart-big__list').load('/index.php?route=checkout/cart/index .cart-big__item');
			$('.sum__main').load('/index.php?route=checkout/cart/index .sum__main span');
		}
		
        // Cart options
        var flag = true;
        var cart={
            // Add product to cart
            'add':function(elem, product_id, quantity) {
                var button = elem.querySelector('.slide-button');

                if (flag) {
                    $.ajax({
                        url:'/index.php?route=checkout/cart/add',
                        type:'post',
                        data:'product_id='+product_id+'&quantity=' + (typeof(quantity) != 'undefined' ? quantity:1),
                        dataType:'json',
                        beforeSend:function() {
                            flag = false;
                        },
                        complete:function() {
                            flag = true;
                        },
                        success: function(json) {
                            button.classList.add('active');

                            if (localStorage.firstVisit == 'true') {
                                document.querySelector('.cart').classList.add('active');
                                document.querySelector('.cart__button').classList.add('active');
                                localStorage.firstVisit = 'false';
                            }
							
							updateCart();
							
                            setTimeout(function() {
                                button.classList.remove('active')
                            } ,3500)
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            'update':function(key, quantity) {
                if (flag) {
                    $.ajax({
                        url:'/index.php?route=checkout/cart/edit',
                        type:'post',
                        data:'key='+key+'&quantity='+(typeof(quantity)!='undefined'?quantity:1),
                        dataType:'json',
                        beforeSend:function() {
                            flag = false;
                        },
                        complete:function() {
                            flag = true;
                        },
                        success:function(json) {
                            updateCart();
                        },
                        error:function(xhr,ajaxOptions,thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            },
            'remove':function(key) {
                if (flag) {
                    $.ajax({
                        url:'/index.php?route=checkout/cart/remove',
                        type:'post',
                        data:'key='+key,
                        dataType:'json',
                        beforeSend:function() {
                            flag = false;
                        },
                        complete:function() {
                            flag = true;
                        },
                        success:function(json) {
                            if(json['redirect']) {
                                location = json['redirect'];
                            } else {
                                updateCart();
                            }
                        },
                        error:function(xhr,ajaxOptions,thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            }
        }
    </script>
</body>
</html>
